<li class="nav-item">
    <a class="nav-link" href="#Pricing">Pricing</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#Gallery">Gallery</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#Contact">Contact Us</a>
</li>